.App {
  text-align: center;
}

input{
 
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 16px;
}
button{
 
  margin-right: 40%;
  margin-left: 40%;
  margin-top: 16px;
  background-color: royalblue;
  border-radius: 6px;
  color: white;
}